<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #212b44;">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img id="logoCBMSC_NAVBAR" src="../../assets/images/logo-CBMSC.png" class="navbar-logo d-inline-block align-top" width="60">
      <span class="ms-3">SISTEMA DE INSTRUÇÃO E ENSINO</span>
    </a>
    <div id="user-id" class="text-white d-lg-none me-2">Nome do Usuário</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" target="blank" href="https://docs.google.com/spreadsheets/d/18M8awvGa6sXOGxvpNy9rH27NFjIj2lRHca4ltHL0T34/edit?usp=share_link">PGE 2023</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="blank" href="https://docs.google.com/spreadsheets/d/18M8awvGa6sXOGxvpNy9rH27NFjIj2lRHca4ltHL0T34/edit?usp=share_link">QT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Relatórioss</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
        <!-- Adicione mais itens do menu conforme necessário -->
        <li class="nav-item d-lg-none">
          <a class="nav-link" href="#">Sair</a>
        </li>
      </ul>
    </div>
    <div id="user-id" class="text-white d-none d-lg-block me-lg-3">{{user?.mtcl}} {{user?.name}} </div>
    <a  (click)="logout()" class="nav-link text-white d-none d-lg-block me-lg-5 exit-btn">Sair</a>
  </div>
</nav>