.navbar-nav .nav-link {
    color: #fff; /* Cor branca forte */
    font-size: 1.2rem; /* Fonte maior */
    font-family: Fira Sans;

}

.navbar-nav .nav-link:hover {
    color: #ccc; /* Cor mais escura ao passar o mouse */
}
.nav-link.exit-btn {
    color: #fff; 
    background-color: #8d0d0dd3; 
    border-radius: 5px; 
    padding: 5px 15px; /* padding adicional para dar espaço ao redor do texto */
	font-weight: bold; /* Negrito */
    font-size: 0.8rem; /* Fonte maior */

}

.nav-link.exit-btn:hover {
    color: #fff;
    background-color: #d10e0ee7; 
}
