<app-nav-bar></app-nav-bar>

<div class="content">
  <div class="tab-container">
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let component of components; index as i">
        <a class="nav-link" [class.active]="isTabActive(i)" [id]="'tab' + i" data-bs-toggle="tab" [href]="'#content' + i" (click)="loadComponent(i)">
          {{component.name}}
          <span class="status-icon" [ngClass]="{'text-success': component.validity, 'text-danger': !component.validity}" *ngIf="component.name !== 'Cursos BBM'">
            <i class="fas fa-check-circle" *ngIf="component.validity && !isTabActive(i)" ></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="rectangle tab-content">
    <ng-template #componentHost></ng-template>
  </div>
</div>
