.content {
    background: url('../../assets/images/background.png') no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.tab-container {
    position: absolute;
    top: 160px;
    margin-left: 10%;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    font-weight: bolder;
}

.nav-tabs .nav-link {
    border: none; /* Remove as bordas */
    background-color: white;
    position: relative; /* Adiciona uma posição relativa às abas */
    z-index: 2; /* Ajusta o z-index das abas para que fiquem na frente */

}

.nav-tabs .nav-link.active {
    background-color: #212b44; /* Define a cor de fundo para azul quando selecionada */
    color: white; /* Define a cor da fonte para branca quando selecionada */
    z-index: 3; /* Ajusta o z-index da aba ativa para ficar na frente das outras */
}

.rectangle {
    position: absolute;
    top: 200px;
    margin-left: 10%;
    width: calc(100% - 20%);
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 0px 10px 0 0;

}
.rectangle table {
  width: 100%;
  text-align: center;

}

.rectangle .table-container {
  border-radius: 0px 10px 0 0;
  overflow: hidden; /* Garante que o conteúdo dentro do contêiner seja cortado corretamente */
}

.rectangle thead {
  background-color: #4B6199;
  color: white;
  font-weight: bold;
  height: 40px;
}

.rectangle tbody tr:nth-child(even) {
  background-color: #a7bad3;
  
}