<div class="text-white p-3 datasHeader text-center">
    <div class="container">
        <h2 class="mb-0">Datas</h2>
    </div>
</div>

<div class="container-fluid ">
    <form>
        <div class="row">
            <div class="col-sm-4">
                <h3 class="text-center pb-2 pt-5">Inscrição</h3>
                <p>As inscrições devem ser realizadas com no mínimo 15 dias de antecedência.</p>
                <div class="row">
                    <div class="col-6">
                        <label for="date1-1" class="form-label">Início:</label>
                        <input type="date"  class="form-control"name="date1-1" id="date1-1" onkeydown="return false" />
                    </div>
                    <div class="col-6">
                        <label for="date1-2" class="form-label">Horário:</label>
                        <input type="time" class="form-control" name="date1-2" id="date1-2" onkeydown="return false" />
                    </div>
                </div>   
                <div class="row">
                    <div class="col-6">
                        <label for="date1-1" class="form-label">Término:</label>
                        <input type="date" class="form-control" name="date1-1" id="date1-1" onkeydown="return false" />
                    </div>
                    <div class="col-6">
                        <label for="date1-2" class="form-label">Horário:</label>
                        <input type="time" class="form-control" name="date1-2" id="date1-2" onkeydown="return false" />
                    </div>
                </div>   
            </div>
            <div class="col-sm-4 neumorphic">
                <h3 class="text-center pb-2 pt-5 ">Processo Seletivo</h3>
                <p>As inscrições devem ser realizadas com no mínimo 15 dias de antecedência.</p>
                <div class="row">
                    <div class="col-6">
                        <label for="date1-1" class="form-label">Insira a data 1.1:</label>
                        <input type="date" class="form-control" name="date1-1" id="date1-1" onkeydown="return false" />
                    </div>
                    <div class="col-6">
                        <label for="date1-2" class="form-label">Insira a data 1.2:</label>
                        <input type="time" class="form-control" name="date1-2" id="date1-2" onkeydown="return false" />
                    </div>
                </div>                
            </div>
            <div class="col-sm-4">
                <h3 class="text-center pb-2 pt-5">Atividade de ensino</h3>
                <p>As inscrições devem ser realizadas com no mínimo 15 dias de antecedência.</p>
                <div class="row">
                    <div class="col-6">
                        <label for="date1-1" class="form-label">Data de ínicio:</label>
                        <input type="date" class="form-control" name="date1-1" id="date1-1" onkeydown="return false" />
                    </div>
                    <div class="col-6">
                        <label for="date1-2" class="form-label">Horário de início:</label>
                        <input type="date" class="form-control" name="date1-2" id="date1-2" onkeydown="return false" />
                    </div>
                </div>    
                <div class="row">
                    <div class="col-6">
                        <label for="date1-1" class="form-label">Data de término:</label>
                        <input type="time" class="form-control" name="date1-1" id="date1-1" onkeydown="return false" />
                    </div>
                    <div class="col-6">
                        <label for="date1-2" class="form-label">Horário de término:</label>
                        <input type="time" class="form-control" name="date1-2" id="date1-2" onkeydown="return false" />
                    </div>
                </div>                 
            </div>
        </div>
    </form>
</div>