<div class="text-white p-3 docentesHeader text-center">
    <div class="container">
        <h2 class="mb-0">Docentes</h2>
    </div>
</div>
<div class="container">
    <h3 class="text-center">Selecionar os docentes previstos para a atividade de ensino.</h3>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Procurar Docente Militar:</label>
                <input class="form-control"
                    type="text" 
                    id="searchProfessorsInput" 
                    placeholder="Procurar Militar por Matrícula, Nome e Graduação....">
            </div>
            <div class="table-responsive" id="professorTable">
                <table class="table table-striped custom-table" id="professorTableID">
                    <thead class="thead-dark">
                        <tr>
                            <th>MTCL</th>
                            <th>GRAD</th>
                            <th>NOME</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0609905-0-1</td>
                            <td>SD 1 Classe</td>
                            <td>THIAGO GHELFI SEMANN</td>
                        </tr>
                        <tr>
                            <td>0609905-0-1</td>
                            <td>SD 1 Classe</td>
                            <td>THIAGO GHELFI SEMANN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col text-center my-auto">
            <button class="btn btn-primary mb-3" id="addBtn">Adicionar >></button>
            <button class="btn btn-danger mb-3"  id="removeBtn"><< Remover</button>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Procurar Docente Selecionado:</label>
                <input class="form-control"
                    type="text" 
                    id="searchSelectedProfessorsInput" 
                    placeholder="Procurar Militar por Matrícula, Nome e Graduação....">
            </div>
            <div class="table-responsive" id="professorTableSelected">
                <table class="table table-striped custom-table-selected" id="professorTableSelectedID">
                    <thead class="thead-dark">
                        <tr>
                            <th>MTCL</th>
                            <th>GRAD</th>
                            <th>NOME</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0609905-0-1</td>
                            <td>SD 1 Classe</td>
                            <td>THIAGO GHELFI SEMANN</td>
                        </tr>
                        <tr>
                            <td>0609905-0-1</td>
                            <td>SD 1 Classe</td>
                            <td>THIAGO GHELFI SEMANN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
</div>