.docentesHeader {
    border-radius: 0px 10px 0 0;
    background-color: #4B6199;
    font-family: 'lato'
  }
  
  .tableHeaderColor{
    background-color: #4B6199;
    font-family: 'lato';
    color: white;
  }
  .table {
    table-layout: fixed;
  }
  
  .table th,
  .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table th:nth-child(1),
  .table td:nth-child(1) {
    width: 25%; /* Defina a largura da primeira coluna conforme necessário */
    white-space: nowrap;
  }
  
  .table th:nth-child(2),
  .table td:nth-child(2) {
    width: 60%; /* Defina a largura da segunda coluna conforme necessário */
    white-space: nowrap;
  }

  .table th:nth-child(3),
  .table td:nth-child(3) {
    width: 15%; /* Defina a largura da segunda coluna conforme necessário */
    white-space: nowrap;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .search-input {
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .pagination .page-item {
    width: 40px; /* Define a largura fixa para cada item da paginação */
    text-align: center;
  }
  .page-item.active .page-link {
    background-color: #4B6199;
    border-color: #4B6199;
    color: white; /* Define a cor da letra como branca */

  }

  .page-link {
    color: #4B6199;
  }
  
  .page-link:hover {
    color: #fff;
    background-color: #4B6199;
    border-color: #4B6199;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #4B6199;
    border-color: #4B6199;
  }
  
  .btn-primary:hover {
    background-color: #3c507e;
    border-color: #3c507e;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333;
  }
  .table-wrapper {
    height: 420px; /* Define a altura fixa da tabela */
    overflow: hidden; /* Adiciona uma barra de rolagem vertical */
  }
  .alert-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
