<div class="text-white p-3 docentesHeader text-center">
        <h2 class="mb-0">Professores</h2>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Todos os Professores</h2>
        <input type="text" class="form-control search-input" placeholder="Pesquisar...">
        <div class="table-wrapper">
          <table class="table table-striped">
            <thead class="docentesHeader">
                <tr>
                  <th>Mtcl</th>
                  <th>Nome</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{ user.name }}</td>
                  <td>
                    <button class="btn btn-primary" (click)="addProfessor(user)">
                      Adicionar
                    </button>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
          </li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Próxima</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Professores Selecionados</h2>
        <input type="text" class="form-control search-input" placeholder="Pesquisar...">
        <table class="table table-striped">
          <thead class="tableHeaderColor">
            <tr>
              <th>Nome</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let professor of professoresSelecionados">
              <td>{{ professor.name }}</td>
              <td>
                <button class="btn btn-danger" (click)="removeProfessor(professor)">
                  Remover
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
          </li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Próxima</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  