<div class="text-white p-3 docentesHeader text-center">
  <h2 class="mb-0">Professores</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 ">
      <h2>Militares</h2>
      <input type="text" class="form-control search-input" placeholder="Pesquisar..." [(ngModel)]="searchInputUsers" (input)="searchUsers()">
      <div class="table-wrapper" (scroll)="onTableScrollUsers($event)">
        <table class="table table-striped ">
          <thead class="tableHeaderColor">
            <tr>
              <th>Mtcl</th>
              <th>Nome</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of paginatedUsers">
              <td>{{ user.mtcl }}</td>
              <td>{{ user.name }}</td>
              <td>
                <button class="btn btn-primary" (click)="addProfessor(user)">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="loadingUsers">
              <td colspan="3" class="text-center">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Carregando...</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Professores Selecionados</h2>
      <p class="alert-message" *ngIf="professoresSelecionados.length === 0">Selecione um professor.</p>
      <div *ngIf="professoresSelecionados.length !== 0">
        <input type="text" class="form-control search-input" placeholder="Pesquisar..." [(ngModel)]="searchInputProfessores" (input)="searchProfessoresSelecionados()">
        <div class="table-wrapper">
          <table class="table table-striped">
            <thead class="tableHeaderColor">
              <tr>
                <th>Mtcl</th>
                <th>Nome</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let professor of paginatedProfessoresSelecionados">
                <td>{{ professor.mtcl }}</td>
                <td>{{ professor.name }}</td>
                <td>
                  <button class="btn btn-danger" (click)="removeProfessor(professor)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
