<div class="text-white p-3 logisticaHeader text-center mb-3">
    <div class="container-fluid">
      <h2 class="mb-0">Logística</h2>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-3 h-100 mb-4">
            <div id="semDiariasMilitares" class="h-100">
            <h4 class="text-center">Alimentação</h4>
            <p>Texto explicativo sobre Alimentação.</p>
            <div class="input-group mb-3">
              <input class="form-control" [(ngModel)]="itemAlimDesc" placeholder="Descrição do item">
              <input class="form-control" [(ngModel)]="itemAlimUnid" placeholder="Unidade">
              <button class="btn btn-primary btn-add-row" (click)="adicionarAlimento(itemAlimDesc, itemAlimUnid)">
                <i class="fas fa-plus"></i>
              </button>
            </div>
            <table class="table" id="tableAlimLog">
              <thead>
                <tr>
                  <th scope="col">Descrição</th>
                  <th scope="col">Unidade</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let alimento of alimentos; let i = index">
                  <td>
                    <ng-container *ngIf="editandoIndexAlimento !== i; else editarAlimento">
                      {{ alimento.descricao }}
                    </ng-container>
                    <ng-template #editarAlimento>
                      <input class="form-control" [(ngModel)]="alimento.descricao">
                    </ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="editandoIndexAlimento !== i; else editarUnidade">
                      {{ alimento.unidade }}
                    </ng-container>
                    <ng-template #editarUnidade>
                      <input class="form-control" [(ngModel)]="alimento.unidade">
                    </ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="editandoIndexAlimento !== i; else confirmarEdicao">
                      <button class="btn btn-primary btn-edit-row" (click)="editarItem('alimentos', i)">
                        <i class="fas fa-pencil"></i>
                      </button>
                    </ng-container>
                    <ng-template #confirmarEdicao>
                      <button class="btn btn-success btn-confirm-row" (click)="confirmarEdicaoItem('alimentos', i)">
                        <i class="fas fa-check"></i>
                      </button>
                    </ng-template>
                    <button class="btn btn-danger btn-remove-row" (click)="removerItem('alimentos', i)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="col-md-3 h-100 mb-4">
        <div id="uniformeMateriais" class="h-100">
            <h4 class="text-center">Uniforme</h4>
            <p>Texto explicativo sobre Uniforme.</p>
            <div class="input-group mb-3">
              <input class="form-control" [(ngModel)]="itemUniformeDesc" placeholder="Descrição do item">
              <button class="btn btn-primary btn-add-row" (click)="adicionarUniforme(itemUniformeDesc)">
                <i class="fas fa-plus"></i>
              </button>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Descrição</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let uniforme of uniformes; let i = index">
                  <td>
                    <ng-container *ngIf="editandoIndexUniforme !== i; else editarUniforme">
                      {{ uniforme.descricao }}
                    </ng-container>
                    <ng-template #editarUniforme>
                      <input class="form-control" [(ngModel)]="uniforme.descricao">
                    </ng-template>
                  </td>
                  <td>
                    <ng-container *ngIf="editandoIndexUniforme !== i; else confirmarEdicao">
                      <button class="btn btn-primary btn-edit-row" (click)="editarItem('uniformes', i)">
                        <i class="fas fa-pencil"></i>
                      </button>
                    </ng-container>
                    <ng-template #confirmarEdicao>
                      <button class="btn btn-success btn-confirm-row" (click)="confirmarEdicaoItem('uniformes', i)">
                        <i class="fas fa-check"></i>
                      </button>
                    </ng-template>
                    <button class="btn btn-danger btn-remove-row" (click)="removerItem('uniformes', i)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="col-md-3 h-100 mb-4">
        <div>
          <h4 class="text-center">Materiais Individuais</h4>
          <p>Texto explicativo sobre Materiais Individuais.</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="itemMaterialIndividualDesc" placeholder="Descrição do item">
            <button class="btn btn-primary btn-add-row" (click)="adicionarMaterialIndividual(itemMaterialIndividualDesc)">
              <i class="fas fa-plus"></i>
            </button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Descrição</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let material of materiaisIndividuais; let i = index">
                <td>
                  <ng-container *ngIf="editandoIndexMatInd !== i; else editarMaterialInd">
                    {{ material.descricao }}
                  </ng-container>
                  <ng-template #editarMaterialInd>
                    <input class="form-control" [(ngModel)]="material.descricao">
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="editandoIndexMatInd !== i; else confirmarEdicao">
                    <button class="btn btn-primary btn-edit-row" (click)="editarItem('materiaisIndividuais', i)">
                      <i class="fas fa-pencil"></i>
                    </button>
                  </ng-container>
                  <ng-template #confirmarEdicao>
                    <button class="btn btn-success btn-confirm-row" (click)="confirmarEdicaoItem('materiaisIndividuais', i)">
                      <i class="fas fa-check"></i>
                    </button>
                  </ng-template>
                  <button class="btn btn-danger btn-remove-row" (click)="removerItem('materiaisIndividuais', i)">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3 h-100 mb-4">
        <div>
          <h4 class="text-center">Materiais Coletivos</h4>
          <p>Texto explicativo sobre Materiais Coletivos.</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="itemMaterialColetivoDesc" placeholder="Descrição do item">
            <button class="btn btn-primary btn-add-row" (click)="adicionarMaterialColetivo(itemMaterialColetivoDesc)">
              <i class="fas fa-plus"></i>
            </button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Descrição</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let material of materiaisColetivos; let i = index">
                <td>
                  <ng-container *ngIf="editandoIndexMatCol !== i; else editarMaterialCol">
                    {{ material.descricao }}
                  </ng-container>
                  <ng-template #editarMaterialCol>
                    <input class="form-control" [(ngModel)]="material.descricao">
                  </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="editandoIndexMatCol !== i; else confirmarEdicao">
                    <button class="btn btn-primary btn-edit-row" (click)="editarItem('materiaisColetivos', i)">
                      <i class="fas fa-pencil"></i>
                    </button>
                  </ng-container>
                  <ng-template #confirmarEdicao>
                    <button class="btn btn-success btn-confirm-row" (click)="confirmarEdicaoItem('materiaisColetivos', i)">
                      <i class="fas fa-check"></i>
                    </button>
                  </ng-template>
                  <button class="btn btn-danger btn-remove-row" (click)="removerItem('materiaisColetivos', i)">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  