<div id="Pgina_Inicial">
	<div id="Grupo_19">
		<img id="DIEPNG" src="../../assets/images/logo-DIE@2x.png" >
		<div id="Sistema_de_Instruo_e_Ensino">
			<span>Sistema de Instrução e Ensino</span>
		</div>
        <form (submit)="login()">
            <div id="Login_-_botes_filho">
                <div id="Login_-_LDAP" class="Login___LDAP">
                    <input type="text" class="Retngulo_27_" id="username" [(ngModel)]="username" name="username" required style="width:510px; height:67px; border-radius:8px;">
                    <div id="Login_-_LDAP_">
                        <span>Login - LDAP</span>
                    </div>
                </div>
                <div id="Senha_campo" class="Senha_campo">
                    <input type="password" class="Retngulo_27" id="password" [(ngModel)]="password" name="password" style="width:510px; height:67px; border-radius:8px;" required>
                    <div id="Senha">
                        <span>Senha</span>
                    </div>
                </div>
                <div id="Remember-me" class="Remember_me">
                    <div id="Lembrar-me" style="margin-left: 10px;">
                        <span>Lembrar-me</span>
                    </div>
                    <input type="checkbox" class="Retngulo_33" id="rememberMe" [(ngModel)]="rememberMe" name="rememberMe">
                </div>
                <div  id="Boto_entrar" class="Bot_o_entrar">
                    <button type="submit" class="botao_entrar"><span class="botao_entrar_text">Entrar</span></button>
                </div>
            </div>
        </form>
	</div>
    <div id="">
        <video class="Composio_1" id="video_logo" width="320" height="240" loop autoplay muted>
            <source src="../../assets/videos/video_logo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>