<div class="text-white p-3 datasHeader text-center">
    <div class="container">
        <h2 class="mb-0">Datas</h2>
    </div>
</div>
<div class="container-fluid">
    <form [formGroup]="datasForm" >
        <div class="row">
            <div class="col-sm-4">
                <h3 class="text-center pb-2 pt-5">Inscrição</h3>
                <div class="mb-3 colapsable-wrapper">
                    <label class="font-weight-bold labelRequisitos expand-icon" (click)="toggleExplicacaoInscricao1()">Detalhes</label>
                    <div class="expand-icon" (click)="toggleExplicacaoInscricao1()">
                      <i class="fas" [ngClass]="mostrarExplicacaoInscricao1 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                    </div>
                  </div>
                    <div class="explicacao" *ngIf="mostrarExplicacaoInscricao1">
                        <p>Informações que devem ser solicitadas para a inscrição (somente): 
                            - Nome completo (sem abreviaturas). 
                            - Data de nascimento (formato dd/mm/aaaa). 
                            - E-mail para contato e/ou telefone para contato, com código de área. 
                            - Data de conclusão do CBAE, nota final no CBAE. 
                            - Município em que reside e município em que exerce atividade profissional. 
                            
                            Ao menos uma das opções para contato (e-mail ou telefone) tem que ser fornecida.
                            
                            A data de conclusão e a nota do CBAE informadas pelo candidato, devem ser conferidas pela coordenação do presente TBAE. 
                            
                            ATENÇÃO: 
                            As informações das inscrições não podem ser divulgadas, em razão da Lei Geral de Proteção de Dados (LGPD)</p>
                    </div>    
                <div class="row">
                    <div class="col-6">
                        <label for="startInscritiondate" class="form-label">Data de início:</label>
                        <input type="date" class="form-control" formControlName="startInscritiondate" id="startInscritiondate" required onkeydown="return false" [min]="startInscritionMinDate" />
                    </div>
                    <div class="col-6">
                        <label for="startInscritionHorario" class="form-label">Horário de início:</label>
                        <input type="time" class="form-control" formControlName="startInscritionHorario" id="startInscritionHorario" required onkeydown="return false" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="endInscritiondate" class="form-label">Data de término:</label>
                        <input type="date" class="form-control" formControlName="endInscritiondate" id="endInscritiondate" required onkeydown="return false" [min]="endInscritionMinDate"  />
                    </div>
                    <div class="col-6">
                        <label for="endInscritionHorario" class="form-label">Horário de término:</label>
                        <input type="time" class="form-control" formControlName="endInscritionHorario" id="endInscritionHorario" required onkeydown="return false" />
                    </div>
                </div>
                <div class="mb-3 colapsable-wrapper">
                    <label class="font-weight-bold labelRequisitos expand-icon" (click)="toggleExplicacaoInscricao2()">Detalhes</label>
                    <div class="expand-icon" (click)="toggleExplicacaoInscricao2()">
                      <i class="fas" [ngClass]="mostrarExplicacaoInscricao2 ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                    </div>
                  </div>
                    <div class="explicacao" *ngIf="mostrarExplicacaoInscricao2">
                        <p>Deve ser divulgado somente o nome completo do candidato cuja inscrição tenha sido deferida. 

                            ATENÇÃO: Não divulgar os demais dados dos candidatos, em razão da LGPD
                            
                            No mesmo documento de divulgação das inscrições deferidas deve constar o local em que será realizada a primeira etapa do processo seletivo (prova de conhecimentos específicos), conforme Etapa 1 seguinte.</p>
                    </div>    
        
                <div class="row">
                    <div class="col-6">
                        <label for="divulgacaoInscritiondate" class="form-label">Data de divulgação :</label>
                        <input type="date" class="form-control" formControlName="divulgacaoInscritiondate" id="divulgacaoInscritiondate" required onkeydown="return false"  />
                    </div>
                    <div class="col-6">
                        <label for="divulgacaoInscritiondateHorario" class="form-label">Horário de divulgação:</label>
                        <input type="time" class="form-control" formControlName="divulgacaoInscritiondateHorario" id="divulgacaoInscritiondateHorario" required onkeydown="return false" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4 neumorphic">
                <h3 class="text-center pb-2 pt-5">Processo Seletivo</h3>
                <p>Devem ser divulgados somente os nomes completos dos candidatos aprovados na etapa de apresentação de documentos e no QIS e assim selecionados para frequentar o curso. ATENÇÃO: Não divulgar os demais dados dos candidatos, em razão da LGPD.</p>
                <div class="row">
                    <div class="col-6">
                        <label for="data1_1" class="form-label">Divulgação do resultado Final:</label>
                        <input type="date" class="form-control" formControlName="processoSeletivoDate" id="processoSeletivoDate" required onkeydown="return false" [min]="processoSeletivoMinDate" />
                    </div>
                    <div class="col-6">
                        <label for="data1_2" class="form-label">Horário da divulgação:</label>
                        <input type="time" class="form-control" formControlName="processoSeletivoHorario" id="processoSeletivoHorario" required onkeydown="return false" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="text-center pb-2 pt-5">Atividade de ensino</h3>
                <p>A carga horária diária preconizada é de 8 horas aula, podendo ser alterada para até 10 horas aula com a autorização do Diretor de Instrução e Ensino. O SIE está configurado com a quantidade mínima de dias para que a atividade de ensino seja executada em sua integralidade, prevendo 8 horas aula diárias. </p>
                <div class="row">
                    <div class="col-6">
                        <label for="iniCur" class="form-label">Data de início:</label>
                        <input type="date" class="form-control" formControlName="iniCur" id="iniCur" onkeydown="return false" required required [min]="iniCurMinDate" />
                    </div>
                    <div class="col-6">
                        <label for="apresentacaoHorario" class="form-label">Horário de início:</label>
                        <input type="time" class="form-control" formControlName="apresentacaoHorario" id="apresentacaoHorario" onkeydown="return false" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="fimCur" class="form-label">Data de término:</label>
                        <input type="date" class="form-control" formControlName="fimCur" id="fimCur" onkeydown="return false" required [min]="fimCurMinDate" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>