<div class="text-white p-3 docentesHeader text-center">
    <h2 class="mb-0">Militares</h2>
  </div>
  <div class="container">
    <div class="row">
    <!-- Seção de edição de usuário -->
    <div class="col-md-12" *ngIf="telaEditUser">
      <form [formGroup]="userEditForm" (ngSubmit)="saveUser()">
        <br>
        <!-- Nome -->
        <div class="mb-3">
          <label for="name" class="form-label">Nome:</label>
          <input type="text" class="form-control" id="name" formControlName="name" required>
        </div>
        <!-- Graduação -->
        <div class="mb-3">
          <label for="role" class="form-label">Graduação:</label>
          <select id="graduacao" name="graduacao" class="form-control" formControlName="graduacao" required>
            <option *ngFor="let graduacao of graduacoes" [value]="graduacao.id">{{ graduacao.nome }}</option>
          </select>  
        </div>
        <!-- Escolaridade -->
        <div class="mb-3">
          <label for="escolaridade" class="form-label">Escolaridade:</label>
          <select id="escolaridade" name="escolaridade" class="form-control" formControlName="escolaridade" required>
            <option *ngFor="let escolaridade of escolaridades" [value]="escolaridade.id">{{ escolaridade.nome }}</option>
          </select>          
        </div>
        <!-- Data de Filtro -->
        <div class="mb-3">
          <label for="dateFilter" class="form-label">Filtro de datas liberado?:</label>
          <select id="role" name="role" class="form-control"  formControlName="dateFilter" required>
            <option value="1" >Sim</option>
            <option value="0" >Não</option>
          </select>
        </div>
        <!-- Função -->
        <div class="mb-3">
          <label for="role" class="form-label">Função:</label>
          <select id="role" name="role" class="form-control" formControlName="role" required>
            <option *ngFor="let role of roles" [value]="role.id">{{ role.nome }}</option>
          </select>  
        </div>
        <!-- Botões de ação -->
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <button type="button" class="btn btn-secondary" (click)="cancelEditing()">Cancelar</button>
        </div>
      </form>
    </div>
    <div class="col-md-12 " *ngIf="telaTabela">
        <div class="row">
          <div class="col-md-12">
            <br>
            <button class="btn btn-primary" style="margin-right: 10px;" (click)="addMilitarTela()">
              Adicionar Militar
            </button>
            <button class="btn btn-secondary" style="margin-right: 10px;" (click)="addMilitarLoteTela()">
              Adicionar Militares em lote
            </button>
          </div>
          <div  class="col-md-12 ">
            <br>
            <input type="text" class="form-control search-input" placeholder="Pesquisar..." [(ngModel)]="searchInputUsers" (input)="searchUsers()">
            <div class="table-wrapper" (scroll)="onTableScrollUsers($event)">
              <table class="table table-striped ">
                <thead class="tableHeaderColor">
                  <tr>
                    <th style="width: 15%;">Mtcl</th>
                    <th style="width: 25%;">Nome</th>
                    <th class="d-none d-md-table-cell" style="width: 15%;">Posto/Graduação</th>
                    <th class="d-none d-md-table-cell" style="width: 20%;">Escolaridade</th>
                    <th class="d-none d-md-table-cell" style="width: 5%;">Filtro de datas</th>
                    <th class="d-none d-md-table-cell" style="width: 5%;">Função</th>
                    <th style="width: 15%;">Ação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of paginatedUsers">
                    <td>{{ user.mtcl }}</td>
                    <td>{{ user.name }}</td>
                    <td class="d-none d-md-table-cell">{{ getGraduacao(user.graduacao_id) }}</td>
                    <td class="d-none d-md-table-cell">{{ getEscolaridade(user.escolaridade_id) }}</td>
                    <td class="d-none d-md-table-cell">{{ user.dateFilter === 1 ? "SIM" : (user.dateFilter === 0 ? "Não" : "--") }}</td>
                    <td class="d-none d-md-table-cell">{{ getRole(user.role_id) }}</td>
                    <td>
                      <button class="btn btn-primary " style="margin-right: 10px;" (click)="startEditing(user)">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button class="btn btn-primary" style="margin-right: 10px;" (click)="deleteUser(user)">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="loadingUsers">
                    <td colspan="7" class="text-center">
                      <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Carregando...</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="col-md-12" *ngIf="telaAdicionarUser">
        <form [formGroup]="userAddForm" (ngSubmit)="addMilitar()">
          <br>
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="mtcl" class="form-label">Matricula (0000000-0-0):</label>
              <input class="form-control" type="text" name="mtcl" id="mtcl"  mask="0000000-0-0"  formControlName="mtcl" required/>
            </div>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="name" formControlName="name" required>
          </div>
          <!-- Nome Mtcl Graduação-->
          <div class="row mb-3">
            <div class="col-md-3">
              <label for="graduacao" class="form-label">Graduação:</label>
              <select id="graduacao" name="graduacao" class="form-control" formControlName="graduacao" required>
                <option *ngFor="let graduacao of graduacoes" [value]="graduacao.id">{{ graduacao.nome }}</option>
              </select>  
            </div>
            <div class="col-md-3">
              <label for="escolaridade" class="form-label">Escolaridade:</label>
              <select id="escolaridade" name="escolaridade" class="form-control" formControlName="escolaridade" required>
                <option *ngFor="let escolaridade of escolaridades" [value]="escolaridade.id">{{ escolaridade.nome }}</option>
              </select>              
            </div>
            <div class="col-md-3">
              <label for="role" class="form-label">Função:</label>
              <select id="role" name="role" class="form-control" formControlName="role" required>
                <option *ngFor="let role of roles" [value]="role.id">{{ role.nome }}</option>
              </select>  
            </div>
          </div>
          <!-- Data de Filtro -->
          <div class="mb-3">
            <label for="dateFilter" class="form-label">Filtro de datas liberado?:</label>
            <select id="role" name="role" class="form-control"  formControlName="dateFilter" required>
              <option value="1" >Sim</option>
              <option value="0" >Não</option>
            </select>
          </div>

          <!-- Botões de ação -->
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Adicionar</button>
            <button type="button" class="btn btn-secondary" (click)="cancelAdicionarAluno()">Cancelar</button>
          </div>
        </form>
      </div>

      <div class="col-md-12" *ngIf="telaAdicionarUserLote">
        <br>
        <div class="mb-3">
          <div class="row">
            <div class="col-md-12">
              <div class="file-upload-container">
                <label class="custom-file-upload">
                  <input type="file" id="fileInput" class="file-upload-input" (change)="onFileSelected($event)" accept=".xlsx, .xls" multiple>
                </label>
                
                <div class="uploaded-files">
                  <ul>
                    <li *ngFor="let selectedFile of selectedFiles; let i = index">
                      {{ selectedFile.name }}
                      <button class="file-upload-clear-btn" (click)="deleteFile(i)">X</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Botões de ação -->
        <div class="mb-3">
          <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="adicionarAlunoLote()" *ngIf="adicionarEmLote">Adicionar</button>
          <button type="button" class="btn btn-warning" style="margin-right: 10px;" (click)="atualizarEfetivoEmLote()" *ngIf="!adicionarEmLote">Atualizar</button>
          <button type="button" class="btn btn-secondary" (click)="cancelAdicionarAlunoLote()">Cancelar</button>
        </div>
        
        <div class="mb-3" *ngIf="usuariosComModificacoes.length > 0">
          <div class="tableModificaoesWrapper">
            <table class="custom-table table-striped">
              <thead class="custom-table-header">
                <tr>
                  <th style="width: 10%;">Mtcl</th>
                  <th style="width: 40%;">Nome</th>
                  <th style="width: 20%;">Posto/Graduação</th>
                  <th style="width: 20%;">Escolaridade</th>
                  <th style="width: 10%;">Atualizar?</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of usuariosComModificacoes">
                  <td [ngClass]="{'highlight-cell': user.mtclModified}">{{ user.mtcl }}</td>
                  <td [ngClass]="{'highlight-cell': user.nameModified}">{{ user.name }}</td>
                  <td [ngClass]="{'highlight-cell': user.graduacaoModified}">{{ user.graduacao }}</td>
                  <td [ngClass]="{'highlight-cell': user.escolaridadeModified}">{{ getEscolaridade(user.escolaridade_id) }}</td>
                  <td>
                    <label class="custom-checkbox">
                      <input type="checkbox" [(ngModel)]="user.atualizar">
                      <span class="checkmark"></span>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="mb-3" *ngIf="usuariosComModificacoes.length == 0">
          Sem atualizações.
        </div>

      </div>
    </div>
  </div>
  