.docentesHeader {
  border-radius: 0px 10px 0 0;
  background-color: #4B6199;
  font-family: 'lato'
}

.tableHeaderColor{
  background-color: #4B6199;
  font-family: 'lato';
  color: white;
}
.table {
  table-layout: fixed;
}

.table th,
.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  white-space: nowrap;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  white-space: nowrap;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  white-space: nowrap;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.search-input {
  margin-bottom: 10px;
  border-radius: 5px;
}


.btn-primary {
  background-color: #4B6199;
  border-color: #4B6199;
}

.btn-primary:hover {
  background-color: #3c507e;
  border-color: #3c507e;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #c82333;
}
.table-wrapper {
  height: 480px; /* Define a altura fixa da tabela */
  overflow: auto; /* Adiciona uma barra de rolagem vertical */
}
.alert-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
