<div class="requisitos-header text-center">
  <div class="container">
    <h2 class="mb-0">Requisitos</h2>
  </div>
</div>

<div class="requisitos-container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div class="requisitos-column">
        <label class="font-weight-bold labelRequisitos" style="font-size: 25px;">Prescrições diversas:</label>
        <div class="requisitos-basicos">
          <div>
            <p>
              a) Ao final da atividade de ensino os alunos aprovados receberão certificado emitido pela Diretoria de Instrução e Ensino.
            </p>
            <p>
              b) Os esclarecimentos e dúvidas relativos à operacionalização e execução da presente atividade de ensino, deverão ser direcionados ao coordenador da atividade de ensino, conforme contato previsto no item 1 deste edital.
            </p>
            <p>
              c) As situações que porventura não estiverem previstas neste edital serão resolvidas pela Diretoria de Instrução e Ensino. 
            </p>
          </div>
        </div>
        <label class="font-weight-bold labelRequisitos" style="font-size: 25px;">ATENÇÃO</label>
        <div class="requisitos-basicos">
          <div style="font-size: 25px;">
            <p>
              Este campo não deve ser utilizado para repetir prescrições já relacionados nos itens descritos acima e muito menos contradizê-los. O referido campo será objeto de atenta análise pela DIE
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 scrollable-column">
      <div class="requisitos-column">
        <div class="mb-3" id="requisitosDivAnswer">
          <label class="font-weight-bold labelRequisitos" style="font-size: 25px;">Prescrições Complementares:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" #novoRequisitoInput placeholder="Adicionar requisito">
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="adicionarItem(novoRequisitoInput.value)">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Prescrição</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prescricao of prescricoes; let i = index">
                <td>
                  {{ prescricao.numero }} {{ prescricao.texto }}
                  <i class="fa-solid fa-square-xmark fa-lg delete-Sub_item" (click)="removerItem(i)"></i>

                  <ul>
                    <li *ngFor="let subsubitem of prescricao.subitens; let j = index">
                      {{ subsubitem.letra }} {{ subsubitem.texto }}
                      <i class="fa-solid fa-square-xmark fa-sm delete-Sub_item" (click)="removerSubitem(i, j)"></i>
                    </li>
                  </ul>
                  <div class="input-group mt-2">
                    <input type="text" class="form-control" [(ngModel)]="subsubitensTemp[i]" placeholder="Adicionar subitem">
                    <div class="input-group-append">
                      <button class="btn btn-primary add-subitem" (click)="adicionarSubitem(i, subsubitensTemp[i])">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>