<div class="rectangle tab-content">
  <div class="tab-pane fade show active" id="content1">
    <div class="text-container">
      <div class="text-header">
        <div class="text-header-item">Nº Processo</div>
        <div class="text-header-item">Situação</div>
        <div class="text-header-item">Sigla</div>
        <div class="text-header-item">Local</div>
        <div class="text-header-item">Carga Horária</div>
        <div class="text-header-item">Ações</div>
      </div>
      <div class="text-body-container">
        <ng-container *ngIf="filteredData.length === 0; else contentSkeleton">
          <!-- Skeleton screen markup -->
          <div class="skeleton-row" *ngFor="let item of skeletonItems">
            <div class="skeleton-text">
              <div class="skeleton-animation"></div>
            </div>
            <div class="skeleton-text">
              <div class="skeleton-animation"></div>
            </div>
            <div class="skeleton-text">
              <div class="skeleton-animation"></div>
            </div>
            <div class="skeleton-text">
              <div class="skeleton-animation"></div>
            </div>
            <div class="skeleton-text">
              <div class="skeleton-animation"></div>
            </div>
            <div class="skeleton-text">
              <div class="skeleton-animation"></div>
            </div>
          </div>
        </ng-container>
        <ng-template #contentSkeleton>
          <!-- Actual content markup -->
          <ng-container *ngFor="let item of filteredData; let i = index; let even = even; let odd = odd;">
            <div class="text-body" [ngClass]="{'even-row': even, 'odd-row': odd}">
              <div class="text-body-item">{{item.procNum}}</div>
              <div class="text-body-item">{{item.situacao}}</div>
              <div class="text-body-item">{{item.sigla}}</div>
              <div class="text-body-item">{{item.local}}</div>
              <div class="text-body-item">{{item.ha}}</div>
              <div class="text-body-item base-button" *ngIf="role == '--'"  [ngClass]="getButtonClassPublico(item.situacao)">{{item.situacao}}</div>
              <ng-container *ngIf="role != '--'">
                <ng-container *ngIf="item.situacao == 'PREVISTO'">
                  <div class="text-body-item" >
                    <button class="btn btn-primary base-button abrir-button" data-toggle="tab" (click)="selectCourse(item,'Abrir')" >Abrir</button>
                  </div>
                </ng-container>
                <ng-container *ngIf="item.situacao == 'ANDAMENTO'">
                  <div class="text-body-item" >
                    <ng-container *ngIf="item.parcial">
                      <button class="btn btn-primary base-button parcial-button" data-toggle="tab" (click)="selectCourse(item,'Parcial')" >Parcial</button>
                    </ng-container>
                    <ng-container *ngIf="!item.parcial">
                      <button class="btn btn-primary base-button encerrar-button" data-toggle="tab" (click)="selectCourse(item,'Encerrar')">Encerrar</button>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </ng-template>
      </div>
    </div>  
  </div>
</div>
