.preview-header {
    background-color: #4B6199;
    padding: 15px;
    border-radius: 0px 10px 0 0;
    text-align: center;
    margin: 0;
    color: #fff;
    font-family: 'Lato', sans-serif;
  }
  .pdf-preview {
    height: 65vh;
  }