<div class="text-white p-3 datasHeader text-center">
    <div class="container">
        <h2 class="mb-0">Datas</h2>
    </div>
</div>

<div class="container-fluid">
    <form [formGroup]="datasForm">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="text-center pb-2 pt-5">Inscrição</h3>
                <p>As inscrições devem ser realizadas com no mínimo 15 dias de antecedência.</p>
                <div class="row">
                    <div class="col-6">
                        <label for="startInscritiondate" class="form-label">Data de início:</label>
                        <input type="date" class="form-control" formControlName="startInscritiondate" id="startInscritiondate" required onkeydown="return false" [min]="startInscritionMinDate" />
                    </div>
                    <div class="col-6">
                        <label for="startInscritionHorario" class="form-label">Horário de início:</label>
                        <input type="time" class="form-control" formControlName="startInscritionHorario" id="startInscritionHorario" required onkeydown="return false" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="endInscritiondate" class="form-label">Data de término:</label>
                        <input type="date" class="form-control" formControlName="endInscritiondate" id="endInscritiondate" required onkeydown="return false" [min]="endInscritionMinDate" />
                    </div>
                    <div class="col-6">
                        <label for="endInscritionHorario" class="form-label">Horário de término:</label>
                        <input type="time" class="form-control" formControlName="endInscritionHorario" id="endInscritionHorario" required onkeydown="return false" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 text-center pb-2 pt-5 offset-1">
                        <label for="emailInscrition" class="form-label">E-mail inscrição:</label>
                        <input type="text" class="form-control" formControlName="emailInscrition" id="emailInscrition" required />
                    </div>
                </div>
            </div>
            <div class="col-sm-4 neumorphic">
                <h3 class="text-center pb-2 pt-5">Processo Seletivo</h3>
                <p>As inscrições devem ser realizadas com no mínimo 15 dias de antecedência.</p>
                <div class="row">
                    <div class="col-6">
                        <label for="data1_1" class="form-label">Insira a data 1.1:</label>
                        <input type="date" class="form-control" formControlName="processoSeletivoDate" id="processoSeletivoDate" required onkeydown="return false" [min]="processoSeletivoMinDate" />
                    </div>
                    <div class="col-6">
                        <label for="data1_2" class="form-label">Insira a data 1.2:</label>
                        <input type="time" class="form-control" formControlName="processoSeletivoHorario" id="processoSeletivoHorario" required onkeydown="return false" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="text-center pb-2 pt-5">Atividade de ensino</h3>
                <p>A carga horária diária preconizada é de 8 horas aula, podendo ser alterada para até 10 horas aula com a autorização do Diretor de Instrução e Ensino. O SIE está configurado com a quantidade mínima de dias para que a atividade de ensino seja executada em sua integralidade, prevendo 8 horas aula diárias. </p>
                <div class="row">
                    <div class="col-6">
                        <label for="iniCur" class="form-label">Data de início:</label>
                        <input type="date" class="form-control" formControlName="iniCur" id="iniCur" onkeydown="return false" required [min]="iniCurMinDate" />
                    </div>
                    <div class="col-6">
                        <label for="apresentacaoHorario" class="form-label">Horário de início:</label>
                        <input type="time" class="form-control" formControlName="apresentacaoHorario" id="apresentacaoHorario" onkeydown="return false" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="fimCur" class="form-label">Data de término:</label>
                        <input type="date" class="form-control" formControlName="fimCur" id="fimCur" onkeydown="return false" required [min]="fimCurMinDate" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
