/* Adicione estilos personalizados conforme necessário */
.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
  }
  
  .card-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  