<div class="text-white p-3 promoAtivHeader text-center">
    <div class="container">
        <h2 class="mb-0">Promotor Atividade de Ensino</h2>
    </div>
</div>
<div class="container-fluid">
    <form [formGroup]="promoAtivForm" class="custom-form">
        <div class="form-group">
            <label class="font-weight-bold" for="promoAtiCep">CEP:</label>
            <div class="input-group">
                <input class="form-control" type="text" id="promoAtiCep" placeholder="Digite o CEP" name="promoAtiCep" mask="00000-000" (input)="consultaCEP($event)"/>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="promoAtiMunicipio">Município:</label>
            <input class="form-control" type="text" id="promoAtiMunicipio" placeholder="Digite o município" name="promoAtiMunicipio" formControlName="promoAtiMunicipio" required/>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="promoAtiBairro">Bairro:</label>
            <div class="input-group">
                <input class="form-control" type="text" id="promoAtiBairro" placeholder="Digite o bairro" name="promoAtiBairro" formControlName="promoAtiBairro" required/>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="promoAtiRua">Rua:</label>
            <div class="input-group">
                <input class="form-control" type="text" id="promoAtiRua" placeholder="Digite a rua" name="promoAtiRua" formControlName="promoAtiRua" required />
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-road"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="promoAtiNumeral">Número:</label>
            <div class="input-group">
                <input class="form-control" type="text" id="promoAtiNumeral" placeholder="Digite o número" name="promoAtiNumeral" formControlName="promoAtiNumeral" required/>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-sort-numeric-up"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="promoAtiNome">Nome do promotor da atividade de ensino:</label>
            <div class="input-group">
                <input class="form-control" type="text" id="promoAtiNome" placeholder="Digite o nome do promoAtiv" name="promoAtiNome" formControlName="promoAtiNome" required />
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-map-marked-alt"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="promoAtiDescricao">Descrever os dias e horários em que ocorrerão as aulas:</label>
            <label for="promoAtiDescricao">Exemplo: As aulas serão realizadas de segunda a sexta-feira das 19:00 horas às 22:30 horas, sábados e domingos eventualmente, com aviso prévio. Os horários poderão ser alterados a critério da Coordenação do curso.</label>
            <div class="input-group">
                <input class="form-control" type="text" id="promoAtiDescricao" placeholder="Digite o nome do promoAtiv" name="promoAtiDescricao" formControlName="promoAtiDescricao" required />
            </div>
        </div>
    </form>
</div>
