<div class="text-white p-3 requisitosHeader text-center">
  <div class="container">
      <h2 class="mb-0">Requisitos</h2>
  </div>
</div>

<label class="fw-bold">Requisitos Básicos:</label>
<textarea class="form-control mb-3" style="height: 200px;" disabled>
  A) São requisitos básicos para concorrer às vagas internas ao CBMSC:
  (1) Ser bombeiro militar da ativa.
  (2) Ser voluntário ou ter sido convocado.
  (3) Ser autorizado por seu comandante de Batalhão, de Região Bombeiro Militar, Diretor, Chefe do Estado Maior Geral, Subcomandante Geral ou Comandante Geral, aos que servirem respectivamente às suas ordens.
  (4) Não se encontrar em qualquer tipo de afastamento durante todo o período da atividade de ensino.
  (5) Não estar condenado a pena de suspensão do exercício do posto, graduação, cargo ou função, prevista no Código Penal Militar.
  (6) Não estar em cumprimento de sentença condenatória transitada em julgado, com pena privativa de liberdade.
  
  B) São requisitos básicos para concorrer às vagas externas ao CBMSC (se houver):
  (1) Apresentar documentação que comprove que esteja autorizado por seu respectivo Comando
  Geral ou chefia militar ou civil equivalente e competente para o ato de autorização.
  (2) Se militar:
  (a) Ser da ativa.
  (b) Não estar condenado a pena de suspensão do exercício do posto, graduação, cargo ou função, prevista no Código Penal Militar.
  (c) Não estar em cumprimento de sentença condenatória transitada em julgado, com pena privativa de liberdade.
</textarea>

<label class="fw-bold">Requisitos Específicos:</label>
<textarea class="form-control mb-3" id="paragraphRequisitosEspecifico" style="height: 100px;" disabled>
</textarea>

<label class="fw-bold">Requisitos Complementares:</label>
<textarea class="form-control mb-3 text-warning" style="height: 100px;" disabled>
A princípio todos os requisitos estarão contemplados pelos básicos e específicos. Contudo, para casos excepcionais...
</textarea>

<button class="btn btn-primary mb-3" id="btnReqComp">Adicionar Requisitos Complementares</button>
<div class="d-none mb-3" id="requisitosDivAnswer">
  <label class="fw-bold">Requisitos Complementares:</label>
  <textarea class="form-control" id="paragraphRequisitosComplementares">
(a)
(b)
(c)...      
  </textarea>
</div>
