.dicentesHeader {
    border-radius: 8px 8px 0 0;
    background-color: #4b6199;
    font-family: 'lato';
}
/* Adicione estilos adicionais conforme necessário */
.container {
    padding: 5px;
}
.tableHeaderColor{
    background-color: #4B6199;
    font-family: 'lato';
    color: white;
  }
  .tableHeaderColor2{
    background-color: #dc8e35;
    font-family: 'lato';
    color: white;
  }
  .table {
    table-layout: fixed;
    font-size: 14px;
  }
  
  .table th,
  .table td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 0.8; /* Ajuste o valor conforme necessário */
  }
  
  
  .table th:nth-child(1),
  .table td:nth-child(1) {
    white-space: nowrap;
    text-align: center;
  }
  
  .table th:nth-child(2),
  .table td:nth-child(2) {
    white-space: nowrap;
  }
  
  .table th:nth-child(3),
  .table td:nth-child(3) {
    white-space: nowrap;
  }
  .table th:nth-child(4),
  .table td:nth-child(4) {
    white-space: nowrap;
    text-align: center;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }  
  .table-wrapper {
    height: 500px; /* Define a altura fixa da tabela */
    overflow: auto; /* Adiciona uma barra de rolagem vertical */
  }
  .custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin: 0 auto; /* Centraliza horizontalmente */
  
  }
  
  .custom-checkbox input {
    opacity: 0;
    position: absolute;
  }
  
  .custom-checkbox input:checked + .checkmark {
    background-color: #4B6199;
  
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .btn-primary {
    background-color: #4B6199;
    border-color: #4B6199;
  }
  
  .btn-primary:hover {
    background-color: #3c507e;
    border-color: #3c507e;
  }
  .btn-naoHomologados {
    background-color: #dc8e35;
    border-color: #dc8e35;
    color: white;
  }
  
  .btn-naoHomologados:hover {
    background-color: #ec993a;
    border-color: #ec993a;
  }
  .custom-input {
    width: 100%;
    padding: 5px; /* Add padding for better visual appearance */
    border: 1px solid #ccc; /* Add a border for better separation */
    border-radius: 5px; /* Rounded corners for a modern look */
    font-size: 16px; /* Adjust font size for better readability */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    transition: border-color 0.3s ease; /* Add transition for smoother visual changes */
  }
  
  .custom-input:focus {
    outline: none; /* Remove default focus outline */
    border-color: #007bff; /* Change border color on focus for better feedback */
  }