<body>
    <div class="text-white p-3 datasHeader text-center">
        <div class="container">
            <h2 class="mb-0">Datas</h2>
        </div>
    </div>
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col">
                <div class="labelDivulgacao">
                    <strong>(1) Diretamente no Quartel do Corpo de Bombeiros Militar de Urubici</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="labelDivulgacao">
                    <strong>(2) Insira as redes sociais que serão utilizadas como meio de divulgação.</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="divMeiosDivulgacao">
                    <a class="fab fa-facebook"></a>
                    <label>https://www.facebook.com/</label>
                    <input id="divulgacaoFacebook" class="form-control inputMeiosDivulgacao" type="text"  />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="divMeiosDivulgacao">
                    <a class="fab fa-instagram"></a>
                    <label>https://www.instagram.com/</label>
                    <input id="divulgacaoInstagram" class="form-control inputMeiosDivulgacao" type="text" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="divMeiosDivulgacao">
                    <a class="fas fa-link"></a>
                    <label>Outros meios:</label>
                    <input id="divulgacaoOutros" class="form-control inputMeiosDivulgacao" type="text"  />
                </div>
            </div>
        </div>
    </div>