<div class="text-white p-3 localHeader text-center">
    <div class="container">
        <h2 class="mb-0">Local</h2>
    </div>
</div>

<div class="container-fluid ">
    <form class="custom-form">
        <div class="form-group">
            <label class="font-weight-bold" for="localAtiMunicipioSelect">Município:</label>
            <select class="form-control custom-select" id="localAtiMunicipioSelect"></select>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="localAtiBairro">Bairro:</label>
            <input type="text" class="form-control" id="localAtiBairro">
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="localAtiRua">Rua:</label>
            <input type="text" class="form-control" id="localAtiRua">
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="localAtiNumeral">Número:</label>
            <input type="text" class="form-control" id="localAtiNumeral">
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="localAtiNome">Nome do Local:</label>
            <input type="text" class="form-control" id="localAtiNome">
        </div>
    </form>
</div>