<div class="text-white p-3 datasHeader text-center">
    <div class="container">
        <h2 class="mb-0">Datas</h2>
    </div>
</div>
<div class="container mt-5">
    <div class="form-step">
      <p class="text-center font-weight-bold">Definir a distribuição de vagas para a atividade de ensino:</p>
      <textarea class="form-control mb-3" style="height: 100px;" disabled>
        2.1. Serão disponibilizadas 30 (trinta) vagas, preferencialmente destinadas a candidatos que residam ou exerçam atividade profissional no(s) município(s): (Selecione até 3 municípios)
      </textarea>
      <label for="selectMunicipio1">Município 1:</label>
      <select class="form-select mb-3" id="selectMunicipio1"></select>
      <label for="selectMunicipio2">Município 2:</label>
      <select class="form-select mb-3" id="selectMunicipio2"></select>
      <label for="selectMunicipio3">Município 3:</label>
      <select class="form-select mb-3" id="selectMunicipio3"></select>
      <textarea class="form-control mb-3" disabled>
        2.2. O curso somente ocorrerá com os seguintes números mínimos de alunos matriculados:
        a) Municípios com até 20 mil habitantes: 12 alunos;
        b) Municípios com até 50 mil habitantes: 15 alunos;
        c) Municípios com mais de 50 mil habitantes: 20 alunos.
      </textarea>
    </div>
  </div>