.prescricoes-header {
    background-color: #4B6199;
    padding: 15px;
    border-radius: 0px 10px 0 0;
    text-align: center;
  }
  
  .prescricoes-header h2 {
    margin: 0;
    color: #fff;
    font-family: 'Lato', sans-serif;
  }
  
  .custom-checkbox .form-check-input {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid #4B6199;
    border-radius: 4px;
  }
  
  .custom-checkbox .form-check-input:checked {
    background-color: #4B6199;
    border-color: #4B6199;
  }
  
  .custom-checkbox .form-check-input:focus {
    box-shadow: none;
  }
  
  .custom-checkbox .form-check-input:disabled {
    opacity: 0.5;
  }
  
  .prescricoes-basicas,
  .prescricoes-especificas {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #333;
  }
  
  .labelPrescricoes {
    font-size: 20px;
    font-weight: bolder;
  }
  
  #inputPrescricoesComplementares {
    display: inline-block;
    width: 80%;
  }
  
  #addPrescricaoComplementar {
    display: inline-block;
    margin-left: 10px;
  }
  
  .prescricoes-list {
    list-style-type: decimal;
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .delete-Sub_item {
    cursor: pointer;
  }
  .alert-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }